[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox
[submodule "strace"]
	path = strace
	url = https://github.com/strace/strace.git
